[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "https://github.com/"]
	insteadOf = git://github.com/
[user]
	email = mealex2007@gmail.com
	name = Al0102 (Alex Lu)\n
